* {
  font-family: "Harry Potter", sans-serif;
}
header,
footer {
  background-color: #a0abbc;
  padding: 2rem 5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  /*display: inline-block;*/
}
body {
  text-align: center;
  background-color: #111a33;
}
div {
  background-color: #dcf2f1;
  margin: 2rem;
  padding: 30px;
}
p {
  font-family: "IFC RAILROAD", sans-serif;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
li {
  font-size: 22px;
  padding: 0rem 5rem;
}
h1 {
  font-size: 40px;
  margin-bottom: 1rem;
  margin-top: 0rem;
  padding-top: 0;
  text-shadow: 2px 2px black;
}
.harray {
  position: relative;
  animation-name: harry-fly;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes harry-fly {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: -30px;
  }
  50% {
    top: 0;
    left: 0px;
  }
  75% {
    top: 0;
    left: 30px;
  }
  100% {
    top: 0;
    left: 0px;
  }
}
/*h1::first-letter {
  /*font-size: 30px;
  color: rgb(44, 43, 43);
}*/
#home {
  color: #dcf2f1;
  padding: 50px;
  background-image: url("../images/hogwarts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 1000px;
  height: 250px;
  display: inline-block;
  margin-top: 1rem;
}
#home:hover {
  transform: scale(1.1);
}
.start-title {
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-shadow: 2px 2px black;
}
.potterheads {
  font-size: 17px;
  text-shadow: 2px 2px black;
}
.start-button {
  padding: 10px 50px;
  background-color: #a0abbc;
  color: black;
  font-size: 15px;
  border-radius: 50px;
  box-shadow: 2px 2px black;
}
.section-title {
  margin-top: 3rem;
  margin-bottom: 0;
  color: #dcf2f1;
}
.products {
  margin-top: 0px;
  background-color: #111a33;
  display: grid;
  grid-template-columns: auto auto auto;
}
.product {
  margin-top: 0px;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 10px;
}
.product:hover {
  transform: translate(5px, 5px);
  box-shadow: 0px 0px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #dcf2f1;
  font-size: 25px;
  transform: scale(1.2);
}
button {
  background-color: rgb(32, 52, 53);
  color: white;
  padding: 7px;
  border-radius: 10px;
}
button:hover {
  opacity: 0.8;
  /*transform: scale(1.1);*/
}
#reviews {
  height: 300px;
  font-size: 18px;
  padding: 10px;
  overflow: scroll;
  border-radius: 10px;
}
.reviews-box {
  display: grid;
  margin-top: 0;
  grid-template-columns: auto auto;
}
.review {
  background-color: white;
  width: 600px;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  margin: 20px 15px;
}
.review__title {
  margin-bottom: 0;
  font-size: 25px;
  text-align: center;
}
#newletter {
  border-radius: 10px;
}
input {
  background-color: #111a33;
  color: #dcf2f1;
  border-radius: 20px;
  height: 25px;
  width: 250px;
  margin: 1rem;
}
.icon-style {
  font-size: 2rem;
}
small {
  font-family: "IFC RAILROAD", sans-serif;
  color: white;
}
